<div class="background">
  <div class="container">
    <app-header></app-header>
    <h1 class ="title">Converter</h1>

    <form novalidate [formGroup]="currencyForm" class="form">
      <div class="form__item">
        <select formControlName = "firstSelect" class = "form__item__select" type="text" (change)="setCurrencyValue( $any ($event.target).value, 1 )">
          <option value="EUR">EUR</option>
          <option value="USD">USD</option>
          <option value="UAH">UAH</option>
       </select>    
       <input class ="form__item__input" formControlName = "firstInput" type="number" (change)="onInput('firstInput')">
      </div>
  
      <div class="form__divider">
        to
      </div>
      
      <div class="form__item">
          <select formControlName = "secondSelect" class = "form__item__select" type="text" (change)="setCurrencyValue( $any ($event.target).value, 2 )">
            <option value="EUR">EUR</option>
            <option value="USD">USD</option>
            <option value="UAH">UAH</option>
          </select>
        <input class = "form__item__input" formControlName = "secondInput" type="number" (change)="onInput('secondInput')">
  
      </div>
    </form>
  </div>
  
</div>

